<h1>Listing avails</h1>

<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @avails.each do |avail| %>
  <tr>
    <td><%= avail.user_id %></td>
    <td><%= link_to 'Show', avail %></td>
    <td><%= link_to 'Edit', edit_avail_path(avail) %></td>
    <td><%= link_to 'Destroy', avail, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Avail', new_avail_path %>
